.background-color\(\#ff00ff\){
	background-color: #ff00ff
}
.width\(1060px\){
	width: 1060px
}
.background-color\(white\){
	background-color: white
}
.width\(200px\){
	width: 200px
}
.background-color\(green\){
	background-color: green
}
.border\(1px\_solid\_\#ff00ff\){
	border: 1px solid #ff00ff
}
